:root.theme_dark {
  --accent-color: #ff0070;
  --color-background: #000028;
  --color-primary-text: #f1b2ce;
  --color-highlight-text: #000028;
  --title-logo-color: #db00ff;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --primary-font-size: 1.125rem;
  --primary-line-height: 1.4625rem;
}

.page {
  background-color: var(--color-background);
}

/*=========================================
=           header styles start           =
=========================================*/

.header {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.25); 
  z-index: 1;
}

.header * {
  position: relative;
  z-index: 2;
}

.decorated-corner-top {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-corner-bottom {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.record-indicator {
  width: 0.5625rem; 
  height: 0.5625rem; 
  background-color: var(--accent-color); 
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  position: relative; 
  margin: 0.5rem 0.437rem 0;
}

.decorated-element {
  color: var(--accent-color);
}

.title {
  color: var(--title-logo-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header-description {
  color: var(--color-highlight-text);
  background-color: var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

/* button styles end  */

.header__theme-menu-button {
  color: var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1pxs solid var(--accent-color);
}

/* button styles start */

/*=========================================
=           header styles end             =
=========================================*/




/*=========================================
=           cards styles start            =
=========================================*/

.card-title {
  color: var(--accent-color);
}

.answer-topic {
  color: var(--color-highlight-text);
  background-color: var(--accent-color);
}

.answer-description {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--color-primary-text);
}

.answer-title {
  color: var(--color-highlight-text);
  background-color: var(--accent-color);
  font-weight: lighter;
}

/*=========================================
=           cards styles end            =
=========================================*/