.page.theme-light {
  --accent-color: #ff8dcb;
  --color-background: #fff1f7;
  --color-link: #353430;
  --color-primary-text: #353430;
  --color-highlight-text: #353430;
  --title-logo-color: #ffc2e6;
  --dark-accent-color: #ff0070;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-image: url(../images/cover-image-light.png);
  --font-family: 'IBM Plex mono', monospace;
  --primary-font-size: 1.125rem;
  --primary-line-height: 1.4625rem;
  --primary-font-weight: bold;
  --decor-element: #353430;
  --button-color: #353430;
  --button-color-hover: rgba(50 49 45 / 0.4);
  --overlay: none;
  --decor-block-display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --color-background: #fff1f7;
    --color-link: #353430;
    --color-primary-text: #353430;
    --color-highlight-text: #353430;
    --title-logo-color: #ffc2e6;
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --background-image: url(../images/cover-image-light.png);
    --font-family: 'IBM Plex mono', monospace;
    --primary-font-size: 1.125rem;
    --primary-line-height: 1.4625rem;
    --primary-font-weight: bold;
    --decor-element: #353430;
    --button-color: #353430;
    --button-color-hover: rgba(50 49 45 / 0.4);
    --overlay: 0;
    --decor-block-display: none;
  }
}

.page.theme-light .decorated-block {
  display: none;
}

.page.theme-light:before {
  display: none;
}
