:root {
  --accent-color: #ff0070;
  --color-background: #000028;
  --color-primary-text: #f1b2ce;
  --color-highlight-text: #000028;
  --title-logo-color: #db00ff;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-line-height: calc(clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)*8.25%);
  --font-family: 'IBM Plex mono', monospace;
  --primary-font-size: 1.125rem;
  --primary-line-height: 1.4625rem;
  --primary-font-weight: bold;
}
